* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; 
}

.filter-buttons {
  margin-bottom: 1.25rem;
}

.grid-container {
  display: flex;
  width: 93.75rem; 
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: auto;
}

.grid-item {
  text-align: center;
  width: 27.5rem; 
  height: 28.75rem; 
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  border-radius: 0.625rem;
}

.grid-item:hover {
  box-shadow: none;
  border-radius: 0;
}

.grid-item img {
  width: 27.5rem; 
  height: 26.25rem; 
  object-fit: cover;
  transform: scale(1.2);
  transition: all 0.5s;
}

.grid-item:hover img {
  transform: scale(1.4);
  filter: blur(0.125rem)
}

figcaption {
  font-size: 1.5625rem;
  font-weight: 900;
  mix-blend-mode: difference;
  position: absolute;
  transform: translate(0, -1.25rem); 
  width: 100%;
  transition: all 0.5s;
  color: #ffffff;
}

.grid-item:hover figcaption {
  transform: translate(0, -6rem); 
  scale: 2;
  color: rgba(255, 255, 255, 0.657);
  background-color: rgba(0, 0, 0, 0.288);
}

button {
  position: relative;
  padding: 0.625rem;
  margin-left: 0.9375rem;
  margin-bottom: 0.3125rem;
  z-index: 0;
  font-size: 1.125rem;
  color: #6b4322;
  background-color: #dfdad5;
  box-shadow: 0 0 0.625rem -3.125rem; 
  border: none;
  border-radius: 0.3125rem;
  transform: scale(1.1);
  transition: all 0.5s;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #f88839;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.25s;
  z-index: -1;
  border-radius: 0.3125rem
}

button:hover::after {
  transform: scale(1, 1);
  transform-origin: bottom;
}

@media (max-width: 1200px) {
  .grid-container {
    width: 80rem; 
  }
  .grid-item {
    width: 22.5rem; 
    height: 24rem; 
  }
  .grid-item img {
    width: 22.5rem; 
    height: 22rem; 
  }
}

@media (max-width: 992px) {
  .grid-container {
    width: 60rem; 
  }
  .grid-item {
    width: 20rem; 
    height: 22rem
  }
  .grid-item img {
    width: 20rem; 
    height: 20rem; 
  }
}

@media (max-width: 768px) {
  .grid-container {
    width: 100%;
  }
  .grid-item {
    width: 18rem; 
    height: 20rem; 
  }
  .grid-item img {
    width: 18rem; 
    height: 18rem; 
  }
}

@media (max-width: 576px) {
  .grid-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .grid-item {
    width: 100%;
    max-width: 20rem; 
    height: auto;
  }
  .grid-item img {
    width: 100%;
    height: auto;
  }
}
